<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("templates/partials/head") %>
</head>
<body>
    <%- include('templates/partials/nav.ejs') %>

    <%- include("templates/pages/home.ejs") %>
    <%- include("templates/pages/rooms.ejs") %>
    <%- include("templates/pages/contact.ejs") %>
    
    <%- include('templates/partials/footer.ejs') %>
</body>
</html>
